
*{
    margin: 0;
    padding: 0;
    
}
body{
    overflow-x: hidden;
    height: auto;
    font-family: sans-serif;
}
li{
    height: 1vh;
}
.container{
    width: 100%;
    height: 10vh;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}
ul li{
    padding: 30px;

}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
/* header */
.header{
    width: 100%;
    height: 60vh;
    background-image: url("../image/p.jpg");
    background-size: cover;
    background-image: no-repeat;
    /* filter:opacity(50%) black; */
    
}
ul p{
    margin-left: 5%;
}
h1{
    margin: 4% 0;
}
p{
    font-size: 15px;
    margin-left: 5%;
}
h2{
    font-size: 35px;
    margin-top: 2% ;

}
h3{
    font-size: 30px;
    margin-left: 5%;
    margin-top: 5%;
}
h4{
    margin-bottom: 0;
    display: none;
}
img{
    border-radius: 360px;
    height: 40vh;
    margin-left: 5%;
    margin-top: 1%;
}
/* body */
.bo{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 3% 3%;
}
.body{
    margin-right: 2%;
    margin-top: 1%;
    width: 80%;
}
.skill{
    width: 70%;
    height: 65vh;
    margin-bottom: 10%;
    
}
/* * {box-sizing: border-box} */

.color {
  width: 100%;
  background-color: #ddd;
  width: 80%;
  margin-left: 3%;
  background: teal;
}
h1{
    margin-left: 3%;
}
.inter p{
    margin-left: 3%;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.skill p{
    font-size: 22px;
}

.html {width: 90%; background-color: #4CAF50;height: 2vh;}
.css {width: 80%; background-color: #2196F3;height: 2vh;}
.js {width: 65%; background-color: #f44336;height: 2vh;}
.php {width: 60%; background-color: #808080;height: 2vh;margin-bottom: 20%;}

/* footer  */
footer{
    font-size: 20px;
    height: 70vh;
    background: rgb(33, 35, 36);
    display: flex;
    justify-content: space-evenly;
}
nav{
    align-items: flex-start;
}
span{
    font-size: 22px;
}
.icon{
    padding: 2%;
    margin-left: 10%;
}
.icon p{
    color: #fff;
    font-size: 25px;

}
.icon ul li{
    font-size: 14px;
    color: #fff;
}
.inter ul li a{
    font-size: 14px;
    color: #fff;
}
.inter{
    padding: 2% 1%;
    margin-left: 10%;
}
ul li a{
    color: #fff;
}
.inter p {
    color: #fff;
    font-size: 25px;
}
.lan{
    margin-top: 2%;
    width: 18%;
    height: 40vh;
    color: #fff;
    margin-left: 4%;
}
.lan p{
    font-size: 15px;
    padding: 5%;
    margin-left: 20%;
    width: 50%;
}
.lan text{
    font-size: 25px;
}
/* icon */
.fa {
    padding: 8px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 360px;
}
.fa:hover{
    opacity: 0.9;
    background: rgba(0,0,0,0.2);
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-envelope {
    background: #7a8361;
    color: white;
}
.fa-telegram {
    background: #589596;
    color: rgb(219, 231, 233);
}
.fa-skype {
    background: #2a6364;
    color: rgb(219, 231, 233);
}
.fa-music {
    background: #2a6364;
    color: rgb(219, 231, 233);
}
.fa-book {
    background: #642a2a;
    color: rgb(219, 231, 233);
}
.header p{
    display: none;
}

/* Responsive */
@media (max-width:420px){
    img{
        height: 30vh;
        border-radius: 0px;
        margin-left: 10%;
        margin-top: 9%;
    }
    .header{
        background-size: cover;
        background-image: no-repeat;
        width: 100%;
        height: -20vh;
    }
    ul li{
        padding: 10px;
        font-size: 14px;
    }
    .container{
        width: 50%;
        height: 25vh;
        display: inline;
    }
    p{
        font-family: sans-serif;
        color: #fff;
        margin: 5% 10%;
       
    }
    .header p{
        display: block;
    }

    footer{
        position: none;
    }
    p{
        margin-right: 1%;
    }
    .body{
        width: 80%;
        height: 60vh;
    }
    .header{
        height: 50vh;
    }
    h4{
        display: block;
        margin-left: 55%;
        width: 100%;
        color: #fff;
        font-family: serif;
    }
    h2{
        font-size: 25px;
    }
    
}
@media (max-width:900px) and (min-width:701px){
    .picture{
       
        margin-top: -5%;
    }
    img{
        height: 40vh;
    }
    .text{
        width: 58%;
        height: 70vh;
    }

}
