body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(69, 139, 110);
}
.navbar{
    position: sticky;
    top: 0;
}
ul li{
    padding: 0 20px;
}
nav{
    background: rgb(58, 107, 116);
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
iframe{
    margin-top: 10%;
}
li{
    height: 4vh;
    margin-bottom: 0;
}
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

/* Contact */
.word{
   margin: 4%;
}
p{
    font-size: 17px;
}
.con{
    font-size: 25px;
    color: #fff;

}
.cam{
    font-size: 25px;
    color: #fff;
}
.contact{
    height: 150vh;
    display: flex;
    justify-content: space-between;
}
/* form  */
form{
    width: 50%;
    color: #fff;
    margin-right: 6%;
    margin-top: 3%;

}
input[type=text],
input[type=email],
input[type=password],
textarea{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    color: #fff;
    
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus:hover{
    box-shadow: 0 0 5px #43D1AF;
}
input[type=submit]{
    margin-left: 80%;
    width: 20%;
    height: 6vh;
    background: #3cb371;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    border-radius: 2px;
}
/* hover  */
input[type=submit]:hover{
    background: #308355;
}
textarea:focus:hover{
    box-shadow: 0 0 5px #43D1AF;
}
iframe{
    width:670px;
    height:300px;
}
/* Responsive */
@media (max-width:700px) and (min-width:410px){
    nav{
        height: 8vh;
    }
    ul li {
        padding: 10px;
        font-size: 15px;
    }
    .contact{
        display: inline;
        height: 100vh;
        width: 100%;
    }
    .word{
        margin-left: 10%;
        background: rgba(0,0,0,0.3);
    }
    form{
       
        margin-left: 10%;
        width: 80%;
        height: 68vh;
        color: black;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    textarea{
        color: black;
    }
    input[type=submit]{
        margin-left: 65%;
        margin-bottom: 10%;
        width: 35%;
        background: rgb(22, 116, 153);

    }
    input[type=submit]:hover{
        background: rgb(30, 134, 175);
    }
    .con ,.cam{
        color: black;
        
    }
    article , p{
        margin: 5%;
    }
    article{
        text-decoration: none;
    }
    .ifram{
        width: 100%;
        margin-left: 0;
    }

}
@media (max-width:400px) {
    ul li a{
        font-size: 14px;
    }
    ul li{
        padding: 5px;
    }
    ul{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    article{
        font-size:17px;
    }
    .contact{
        display: inline;
    }
    .word{
        display: none;
    }
    form{
        margin-top: 10%;
        width: 90%;
        margin-left: 5%;
    }
    input[type=submit]{
        margin-left: 10%;
        width: 80%;
    }
    .ifram{
        width: 100%;
        margin-left: 1%;
    }
}