ul{
    display: flex;
    list-style: none;
    position: static;
}
ul li{
    padding: 30px;

}
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
ul li a:hover{
   text-decoration: underline black;
   color: rgba(0,0,0,0.3);
}